body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #040426, #173185); */
  background: linear-gradient(to bottom, #040426, #061b5e);
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
* {
  box-sizing: border-box;
}
